/*=============================
        GLOBAL RULES
===============================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    overflow-wrap: break-word;
}

html {
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: lato, sans-serif;
}

.row {
    max-width: 1250px;
    margin: 0 auto;
}


/*=============================
        SECTION ONE
===============================*/

.secOne {
    background-color: black;
    
}

.logo {
    float: left;
    margin-top: 8px;
    margin-right: 15px;
}

.nav a {
    color: white;
    font-size: 70%;
    padding: 10px 14px;
}

.nav li {
    display: inline-block;
    border-left: 1px solid grey;
    height: 40px;
    padding-top: 8px;
}

.nav li input[type=search] {
    width: 60%;
    margin-left: 15px;
    padding-left: 5px;
    height: 25px;
    border: none;
}

.ion-arrow-down-b {
    font-size: 80%;
    display: inline-block;
    margin-left: 60px;
    padding: 2px;
    cursor: pointer;
    
}

.ion-ios-search-strong {
    background-color: white;
    padding: 1px 6px;
    position: absolute;
}

.ion-person {
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;

}

.nav li:nth-child(1) {
    padding-right: 60px;
}

.nav li:hover {
    border-bottom: 3px solid red;
}

.nav li:nth-child(11) {
    border: none;
}

/*=============================
        DROP DOWN
===============================*/

.secTwo {
    border: 1px solid deepskyblue;
}

.items ul li {
    display: inline-block;
    padding-right: 80px;
    padding-left: 5px;
    margin-left: 4%;
    margin-top: 10px;
}

.items ul li a{
    font-size: 80%;
    color: black;
}

.items ul li a:hover {
    background-color: black;
    color: white;
}


.more {
    float: left;
    font-size: 150%;
    text-transform: uppercase;
    padding-bottom: 6%;
    margin-left: 6%;
    padding-top: 8px;
}

/* Changes */

.nav li:nth-child(10) {
    color: white;
    font-size: 70%;
    padding-left: 15px;
}


.items {
    display: none;
}

/*=============================
        SECTION TWO
===============================*/

.sec-two {
    background-color: #e7e8e1;
    padding: 20px 0;
}

.cool p {
    display: inline-block;
    color: #393939;
}

.cool p:nth-child(2) {
    float: right;
}

.leftBlock  {
    padding-top: 8px;
}

.leftBlock img {
    width: 100%;
    height: 90%;
}

.leftBlock ul {
    position: absolute;
    margin-top: -130px;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.leftBlock ul li:nth-child(1) {
    font-size: 115%;
    margin-bottom: 10px;
}

.leftBlock ul li:nth-child(2) {
    font-size: 95%;
    margin-bottom: 10px;
    font-weight: 400;
}

.leftBlock ul li:nth-child(3) {
    display: inline-block;
    padding-left:  5px;
    border-left: 3px solid red;
    text-transform: uppercase;
    font-size: 80%;
}

.rightBlock img {
    width: 100%;
    height: 200px;
}

.rightBlock ul {
    position: absolute;
    margin-top: -70px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.53);
        
}

.rightBlock ul li:nth-child(1) {
    font-size: 120%;
    margin-bottom: 10px;
}

.rightBlock ul li:nth-child(2) {
    display: inline-block;
    font-size: 85%;
    padding-left: 5px;
    border-left: 2px solid red;
}

/*=============================
        SECTION THREE
===============================*/

.secThree {
    padding: 30px 0;
}

.newsp p {

    float: left;
    padding-left: 10px;
    font-size: 170%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    border-left: 3px solid red;
    margin-bottom: 20px;
}

.secThree img {
    width: 100%;
    height: 250px;
}

.secThree a {
    color: black
}

.secThree li:nth-child(1) {
    font-size: 120%;
    font-weight: 700;
    margin: 10px 0px;
    
}

.secThree li:nth-child(2) {
    color: #4d4d4d;
    font-size: 80%;
    margin-bottom: 10px;
}

.secThree li:nth-child(3) {
    display: inline-block;
    padding-left: 10px;
    border-left: 3px solid red;
    font-size: 80%;
    color: #4d4d4d;
    text-transform: uppercase;
}

.secThree li:nth-child(3) {
    border-bottom: 1px solid #4d4d4d;
}

.sport {
    margin-top: 10px;
}

.weather {
    margin-top:  70px;    
}

.weather img {
    width: 70%;
    height: auto;
}

.weather ul {
    margin-bottom: 50px;
}

.weather ul li {
    border: none ! important;
    display: inline-block;
}

.weather ul li:nth-child(1){
     text-transform: uppercase;
    font-size: 90%
}

.weather ul li:nth-child(2){
    margin: 0 60px 0 20px;
    text-transform: uppercase;
    font-size: 60%;
    background-color: rgba(169, 169, 169, 0.33);
    padding: 2pz 5px;
    cursor: pointer;
    
}

.weather ul li:nth-child(3){
    position: absolute;
}


/*=============================
       EDITORS SECTION
===============================*/

.editors {
    padding: 20px 0 40px 0;
    background-color: #e7e8e1;
}

.edip {
    font-size: 180%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.69);
    display: inline-block;
    padding-left: 20px;
    border-left: 5px solid deepskyblue;
    margin-bottom: 10px;
}

.court {
    width: 100%;
    height: auto;
}

.ediul {
    color: white;
    text-shadow: 2px 2px black;
    margin-top: -120px;
    margin-left: 10px;
}

.ediul li:nth-child(1) {
    font-size: 180%;
    font-weight: 700;
    margin-bottom: 10px;
}

.ediul li:nth-child(2) {
    margin-bottom: 10px;
}

.ediul li:nth-child(3) {
   display: inline-block;
    padding-left: 10px;
    border-left: 2px solid red;
    text-transform: uppercase;
    font-size: 70%;
}

.edigrid1 {
    margin-top: 20px;
}

.edigrid1 img {
    width: 100%;
   height: 170px;
}

.edibox1 {
    height: auto;
    background-color: white;
    padding-bottom: 20px;
}

.edibox1 ul {
    margin-top: 10px;
    color: black;
    padding: 0 10px;
}

.edibox1 li:nth-child(1) {
    margin-bottom: 10px;
    font-size: 110%;
    font-weight: 700;
}

.edibox1 li:nth-child(2) {
    margin-bottom: 10px;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.77);
}

.edibox1 li:nth-child(3) {
    display: inline-block;
    padding-left: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
    font-size: 70%;
    color: rgba(0, 0, 0, 0.77);
}

.editrightli {
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
}

.editrightli i { 
    font-style: normal;
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: red;
    float: left;
    margin-right: 15px;
}

.editrightli li {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
}

.editrightli li:nth-child(1) {
    background-color: red;
    padding: 10px 0 10px 10px;
    font-size: 90%;
    font-weight: 700;
}


/*=============================
       FEATURED VIDEO SECTION
===============================*/

.secVid {
    padding: 20px 0 40px 0;
    
}

.vidp {
    font-size: 180%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.77);
    display: inline-block;
    padding-left: 20px;
    border-left: 3px solid deepskyblue; 
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 700px;
}

.vidThumb4 img {
    width: 100%;
    height: 200px;
}

.vidul {
    position: absolute;
    margin-top: -140px;
    margin-left: 15px;
    color: white;
}

.vidul li:nth-child(1){
    font-size: 200%;
    font-weight: 700;
    text-shadow: 2px 2px black;
    margin-bottom: 10px;
}

.vidul li:nth-child(2){ 
   margin-bottom: 10px; 
}
    
.vidul li:nth-child(3){
    display: inline-block;
    padding-left: 10px;
    border-left: 3px solid red;
    text-transform: uppercase;
    font-size: 80%;
}

.vidCap{
    
    margin-top: -60px;
    color: white;
    margin-left: 10px;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.vidCap li:nth-child(2){
    
    display: inline-block;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 70%;
    border-left: 3px solid red;
    margin-top: 10px;
}